<h1>List of all restaurants</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
   <%end%>
</ul>
<%= link_to "New Restaurant", new_restaurant_path, class: 'btn btn-secondary m-5' %>

